// =============================================================================
// COLORS
// =============================================================================


// Primary //
$primary-red:   #f93636;
$primary-yellow:#f9cf36;

// Gray

$dark-gray:  #26283c;
$light-gray: #f5f5f5;
