// =============================================================================
// Navbar
// =============================================================================

nav {
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  padding: 20px 30px;
  display: flex;

  span {
    text-transform: uppercase;
    font-weight: 700;
  }

  .actions {
    align-items: center;
    display: flex;
  }

  a {
    margin-right: 40px;
    cursor: pointer;

    &:hover {
      color: $primary-red;
    }
  }
}
