// =============================================================================
// Navbar
// =============================================================================

nav {
  background-color: #ffffff;
  padding: 20px 30px;

  @media (min-width: $breakpoint-medium) {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  span {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    display: block;

    @media (min-width: $breakpoint-medium) {
      margin: 0;
    }
  }

  .actions {
    align-items: center;
    display: flex;
  }

  a {
    margin-right: 40px;
    cursor: pointer;

    &:hover {
      color: $primary-red;
    }

    &.mobile {
      position: absolute;
      right: 30px;
      margin: 0;
      top: 20px;

      @media (min-width: $breakpoint-medium) {
        display: none;
      }
    }

    &.web {
      display: none;

      @media (min-width: $breakpoint-medium) {
        display: block;
      }
    }
  }

  button {
    @media (max-width: $breakpoint-medium) {
      margin-bottom: 10px;
      width: 100%;
    }
  }
}
