.comics-list {
  background: #f5f5f5;
  padding: 40px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;

  .ri-close-line {
    position: absolute;
    cursor: pointer;
    font-size: 26px;
    right: 10px;
    z-index: 1;
    top: 10px;

    &:hover {
      opacity: 0.5;
    }
  }

  .comic-item {
    background: #ffff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
  }

  h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    width: 100%;
  }

  img {
    object-fit: contain;
    margin: 0 auto;
    display: block;
    height: 100px;
    width: 100px;
  }

  .stars {
    justify-content: center;
    margin: 0;

    li {
      padding: 5px;
      margin: 0;

      i {
        font-size: 13px;
      }
    }
  }
}